body{
    margin:0;
    font-family:  "Arial";
}

*{
    box-sizing: border-box;
    margin: 0;
}

/*Header*/
.main-header{
    background: #3c3c3c;
    float:left;
    clear: both;
    width: 100%;
    padding-top: 35px;
    /*border-bottom: 3px solid #C40E0E;*/
    margin-bottom: 30px
}

.main-header .container-img{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main-header .main-title{
     font-size: 45px;
     color:  #F5EFEF;
     text-align: center;
     margin: 10px 0 20px;
     text-transform: uppercase;
}

.main-header .container-img{
    width: 200px;
    height: 200px;
    border: 3px solid white;
}

/*header menu*/
.menu{
    background-color: #721C1C;
    width: 100%;
    float: left;
    padding: 12px;
}
.menu .container-item{
    padding: 0 50px;
    list-style: none;
}

.menu .container-item .item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

.menu .container-item .item a{
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
    border-radius: 2px;
}
.menu .container-item .item a:hover{
    background: white;
    color: black;
}

/*Sections*/

section{
    float: left;
    width: 100%;
    padding: 10px 12.5%;

}

section h3{
    font-size: 25px;
    background: #464141;
    color: white;
    float: left;
    clear: both;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
}

section p, section address, section ul{
    float: left;
    width: 100%;
}

section p, section address{
    font-size: 14px;
    margin: 5px 0;
    padding-left: 10px;
}

section address{  
    font-style: normal;  
    padding-left: 0px;
}

section .ul-list{
    padding-left: 20px;
}
section .ul-list li{
    
}

/*Form*/

.main-form{
    display:block;
    width: 500px;
    margin: 0 auto;
}
.main-form .title{
    font-size: 25px;
    margin: 10px 0 20px;
}

.main-form .container-text{
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

#hr{
    border: 1.5px solid #534F4F;
    margin: 13px 0;
}
.main-form .container-text label{
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
}

.main-form .container-text input:not([type=radio]):not([type=file]){
    float: left;
    width: 100%;
    border: 2px solid #534F4F;
    padding: 8px;
}

.main-form .container-text.radio{
    float: left;
    width: 100%;
    margin-right:0 10px 0 0;
    font-size: 18px;
    clear: none;
}
.main-form .container-text.radio input{
    margin-right: 5px;
}
    
.main-form .container-text select{
    width: 250px;
    padding: 10px;
    border: 2px solid #534F4F;  
}

.main-form .container-text textarea{
    resize: none;
    width: 100%;
    border: 2px solid #534F4F;  
    font: 400 13.3333px Arial;
}

.main-form button{
    
    width: 48%;
    padding: 15px;
    border: 3px solid #534F4F;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-form .btn-submit{
    float: left;
    background: #534F4F;
    color: white;
   
}
.main-form .btn-reset{
    float: right;
    background: white;
    color: #534F4F;
    

/*footer*/

.main-footer{
    float: left;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    background: #534F4F;
    margin-top: 40px;
}

